<li class="user-info__item">
	<div class="user-info__param">{{label}}</div>
	<input class="user-info__value" type="{{type}}" {{#if ro}}readonly{{/if}} value="{{val}}" name="{{name}}" placeholder="{{ph}}">
</li>